* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffe01b;
}
.wrapper {
  width: 100%;
}
.navBar {
  margin-bottom: 50px;
}
.nav > a {
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color: #241c15;
}

.nav > a > img {
  width: 45px;
}
.navright {
  float: right;
  padding: 16px 16px;
}

.nav-btn {
  background-color: #ffe01b;
  color: #241c15;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.nav-btn:hover {
  background-color: #008cba;
  color: white;
}

.layout-one {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.sect-one {
  width: 100%;
  height: 400px;
  padding: 5px;
}
.sect-one > h1 {
  font-size: 3em;
  font-weight: bold;
  padding-top: 20%;
  padding-bottom: 20px;
  color: #241c15;
}
.sect-one > h1 > div {
  width: 50%;
  padding-bottom: 50px;
}
.para {
  width: 80%;
  margin-bottom: 30px;
  color: #241c15;
}

.para > p {
  color: #241c15;
  font-size: 1.5em;
  padding-bottom: 30px;
  text-align: justify;
}

.btn {
  background-color: #008cba;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.sect-one > a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.15em;
}
.image > img {
  width: 100%;
  height: 400px;
}

.section-two {
  width: 100%;
  background-color: white;
}

.layout-two {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.layout-two > div {
  width: 400px;
  height: 300px;
  margin: 90px 10px;
}

video {
  width: 100%;
}

blockquote {
  width: 400px;
  height: 300px;
  margin: 90px 10px;
  color: #241c15;
  font-size: 2rem;
  padding-top: 50px;
}

.section-three {
  width: 100%;
  background-color: #f6f6f4;
}
.layout-three {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.img-story > img {
  width: 100%;
  height: 400px;
}
.audience > h2 {
  color: #241c15;
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 25px;
}

.audience > p {
  color: #241c15;
  font-size: 1.5em;
  padding-bottom: 25px;
}

.audience > button {
  background-color: #f6f6f4;
  color: #008cba;
  padding: 15px 25px;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #008cba;
}
.section-four {
  width: 100%;
  background-color: white;
}
.saveTime {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.saveTime > div {
  width: 450px;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 25px;
}
.bossLady {
  width: 100%;
}
.sec-content > h2 {
  color: #241c15;
  font-size: 3em;
  font-weight: bold;
}

.sec-content > p {
  color: #241c15;
  font-size: 1.5em;
  padding-bottom: 25px;
}

.sec-content > button {
  background-color: white;
  color: #008cba;
  padding: 15px 25px;
  font-size: 1em;
}

.award {
  width: 100%;
  background-color: white;
}

.divcont {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.divcont > div {
  width: 450px;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 25px;
}
.trust > img {
  width: 100%;
}

.textContainer > h2 {
  font-size: 3em;
  color: #241c15;
  padding-bottom: 25px;
}

.textContainer > p {
  color: #241c15;
  font-size: 1.5em;
  padding-bottom: 30px;
}

.textContainer > button {
  background-color: white;
  color: #008cba;
  padding: 15px 25px;
  font-size: 1em;
}
.business {
  width: 100%;
  background-color: #f6f6f4;
}
.busConent {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.busConent > div {
  width: 450px;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 25px;
}

#b2b > img {
  width: 100%;
}

.writeUp > h2 {
  font-size: 3em;
  color: #241c15;
  padding-bottom: 25px;
}

.writeUp > p {
  color: #241c15;
  font-size: 1.5em;
  padding-bottom: 50px;
}

.writeUp > a {
  text-decoration: none;
  font-size: 1.1em;
  color: #008cba;
}
