* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffe01b;
}

.navBar a {
  background-color: #ffe01b;
  padding: 14px 16px;
  text-decoration: none;
  color: #241c15;
}
a > input[type="text"] {
  float: right;
}
.active > img {
  /* height: 35px; */
  width: 49px;
  padding-top: 20px;
}
.navBar > a > .active {
  font-weight: bold;
  font-size: 1.5em;
}

.one {
  background-color: #ffe01b;
}
.layout-one {
  margin-left: auto;
  margin-right: auto;
}
.sect-one {
  width: 50%;
  height: 400px;
}
.sect-one > h1 {
  font-size: 3rem;
  text-align: center;
}

.sect-one p {
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}
