* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffe01b;
}
.wrapper {
  /* display: grid;
  grid-template-columns: repeat(autofit, minmax(100px, 1fr));
  grid-auto-rows: 100px auto;
  gap: 1em; */
  /* grid-template-areas:
    "o o o o o o"
    "t t t t t t t t t t"
    "th th th th th th th"
    "f f f f f f f f f f"
    "b b b b b b b b b b"
    "m m m m m m m m m m"
    "fe fe fe fe fe fe fe"
    "c c c c c c c c c c"
    "d d d d d d d d d d"; */
}
.navBar {
  margin-bottom: 50px;
}
.nav > a {
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color: #241c15;
}

.nav > a > img {
  width: 45px;
}
.navright {
  float: right;
  padding: 16px 16px;
}

.nav-btn {
  background-color: #ffe01b;
  color: #241c15;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.nav-btn:hover {
  background-color: #008cba;
  color: white;
}
.section-one {
  /* grid-column: span 1 / -1; */
}

.layout-one {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.sect-one {
  width: 100%;
  height: 400px;
  padding: 5px;
}
.sect-one > h1 {
  font-size: 2em;
  font-weight: bold;
  padding-top: 20%;
  padding-bottom: 20px;
  color: #241c15;
}
.sect-one > h1 > div {
  width: 50%;
  padding-bottom: 50px;
}
.para {
  width: 70%;
  margin-bottom: 30px;
  color: #241c15;
}

.btn {
  background-color: #008cba;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.btn > button > a {
  margin: 10px;
}
.image > img {
  width: 100%;
  height: 400px;
}

.section-two {
  width: 100%;
  background-color: white;
}

.layout-two {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.layout-two > div {
  width: 400px;
  height: 300px;
  margin: 90px 10px;
}

video {
  width: 100%;
}

blockquote {
  width: 400px;
  height: 300px;
  margin: 90px 10px;
  color: #241c15;
  font-size: 2rem;
  padding-top: 50px;
}

.section-three {
  width: 100%;
  background-color: #f6f6f4;
}
.layout-three {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.img-story > img{
  width: 100%;
  height: 400px;
}
}
.section-four {
  /* grid-area: f; */
}

.business {
  /* grid-area: b; */
}

.marketing {
  /* grid-area: m; */
}

.features {
  /* grid-area: fe; */
}

.company {
  /* grid-area: c; */
}

.down {
  /* grid-area: d; */
}
